@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
@import url(./default.css);
:root{
    --fontColr:#000;
    --fff:#fff;

    --border1: 1px solid #000000;
    --border2: 2px solid #c05959;
    --border-radius-15: 15px;
    --border-radius-25: 25px;
    --border-radius-30: 30px;

    --body-blur:blur(40px);

    --main-backgroundColor:#fffffff5;
    --cover-height:280px;
    
    --nav-height:calc(var(--search-height) + 10px);
    --offer-backgroundColor:#000000;
    --offer-fontColor:#fff;
    --offer-fontSize: 13px;
    --offer-width:120px;
    --offer-height: calc(var(--search-height) - 3px);
    
    --search-height: 3rem;
    --search-icon-border-radius: 50px;
    --search-fontSize: 14px;
    
    --notice-fontSize: 14px;
    --notice-backgroundColor: #f5ffcf;
    --notice-ani-speed-first:35s;
    --notice-ani-speed:calc(var(--notice-ani-speed-first)*2);
    --notice-ani-dly: calc(var(--notice-ani-speed)/2);

    --margin-gap:5px;

    --link-img-size: calc(var(--link-height) - var(--link-padding) - var(--link-padding));
    --link-height:76px;
    --link-padding:5px;
    --link-fontSize-pc: 1rem;
    --link-fontSize-mobile: .9rem;

    --tag-fontSize:10px;
    --tag-height:21px;
    --tag-border:1px solid #d8d8d8;
}

/* ============================= */
body{
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: scroll;

    background-image: url(background.jpg);
    background-size: cover;
    backdrop-filter: var(--body-blur);
    -webkit-backdrop-filter: var(--body-blur);
    /* font-family: 'Gowun Dodum',sans-serif ,serif; */

}
.notice-warpper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    display: block;
    overflow-x: hidden;
    background-color: var(--notice-backgroundColor);
    font-weight: bold;
    z-index: 10;
    .notice{
        position: absolute;
        top: 0;
        left: 0;
        height: 38px;
        white-space: nowrap;
        overflow: hidden;
        background-color: var(--notice-backgroundColor);
        /* border: var(--border1); */
        display: flex;
        align-items: center;
        
        & span{
            margin-left: 120px;
            font-size: var(--notice-fontSize);
        }
    }
    .notice-1{
        transform: translateX(0%);
        animation: infniteNotice1 var(--notice-ani-speed-first) linear forwards;
        /* animation-play-state:paused */
    }
    .notice-2{
        transform: translateX(100%);
        animation: infniteNotice2 var(--notice-ani-speed) infinite linear ;
        /* animation-delay: 5s; */
    }
    .notice-3{
        transform: translateX(100%);
        animation: infniteNotice2 var(--notice-ani-speed) infinite linear;
        animation-delay: var(--notice-ani-dly);
    }
}
@keyframes infniteNotice1 {
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}
@keyframes infniteNotice2 {
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
.screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.container{
    position: relative;
    overflow: hidden;
    background-image: url(background.jpg); 
    background-size: cover;
    backdrop-filter: var(--body-blur);
    -webkit-backdrop-filter: var(--body-blur);
    
    width: 100%;
    max-width: 450px;
    z-index: 0;

    @media (max-width: 500px) {
        &{max-width: 100%;}
    }
}
.cover-section{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    /* border: var(--border1); */
    z-index: 1;
}
.cover{
    /* position: fixed; */
    /* top: 300; */
    
    width: 100%;
    height: var(--cover-height);
    background-image: url(cover.jpg);
    background-size: cover;
    background-position: center;
    
}
.main-section{
    
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    /* border: var(--border2); */
    z-index: 2;
    
}
main{
    border: var(--border1);
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
        
    margin-top: calc(var(--cover-height) - 30px);

    background-color: var(--main-backgroundColor);
    padding: 5px 3px;
    border-radius: 30px 30px 0 0;
    backdrop-filter: var(--body-blur);
    -webkit-backdrop-filter: var(--body-blur);
        /* @media (max-width: 500px) {
            &{padding: 0 5px;}
        } */

        & nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;

            gap: 10px;
            
            width: 100%;
            min-height: var(--nav-height);
            /* border: 1px rgb(220, 220, 220) solid;
            box-shadow: 0 5px 10px 0 rgba(203, 203, 203, 0.283);    background-color: var(--search-bgclr);
            border-radius: var(--border-radius-30); */
            padding: 5px;
            margin-bottom: var(--margin-gap);
            & .main-noti-icon {
                padding: 15px 0px 15px 15px;
            }
            & .main-noti{
                width: calc(100% - var(--offer-width) - var(--search-height));
                /* width: 100%; */
                /* padding-right: 5px; */
                font-size: .9em;
                /* font-style: italic; */
            }
            & a{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                
                flex-basis: var(--offer-width);
                /* min-width: 114px; */
                height: var(--offer-height);
                padding: 10px 10px;
                border-radius: var(--border-radius-30);
                background-color: var(--offer-backgroundColor);
                
                font-size: var(--offer-fontSize);
                color: var(--offer-fontColor);
                & b{
                    text-decoration: underline;
                    font-style: italic;
                }
                &:hover{
                    background-color:rgb(255, 165, 55);
                    color:#ffffff;
                }
            }
        }
        .searchbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;

            
            border: 1px rgb(220, 220, 220) solid;
            box-shadow: 0 5px 10px 0 rgba(203, 203, 203, 0.283);    background-color: var(--search-bgclr);
            border-radius: var(--border-radius-30);
            padding: 5px; 
            & .search-icon{
                padding: 15px 5px 15px 15px;
            }
            & #input-search{
                height: var(--search-height);
                width: calc(100% - var(--offer-width) - var(--search-height));
                padding-right: 5px;
                font-size: var(--search-fontSize);
                color: var(--fontColr);
            }
            & .offer{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            
                flex-basis: var(--offer-width);
                height: var(--offer-height);
                padding: 10px 10px;
                border-radius: var(--border-radius-30);
                background-color: var(--offer-backgroundColor);
            
                font-size: var(--offer-fontSize);
                color: var(--offer-fontColor);
                &:hover{
                    background-color:rgb(255, 165, 55);
                    color:#ffffff;
                }
            
            }
        }
        .link-section-title{
            text-align: center;
            /* font-size: 1rem; */
            padding: 30px 0;
        }
    }
/* ========= */
.link{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    
    height: var(--link-height);
    padding: var(--link-padding); 

    border: 1px rgb(220, 220, 220) solid;
    box-shadow: 0 5px 10px 0 rgba(203, 203, 203, 0.283);    background-color: var(--search-bgclr);
    border-radius: var(--border-radius-15);
    margin-bottom: var(--margin-gap);
    &:hover{
        cursor: pointer;
        transform: scale(1.02);
    }
}
.link-l{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-l img{
    width: var(--link-img-size);
    height: var(--link-img-size);
    border: var(--border1);
    border-radius: var(--border-radius-15);
}
.link-r{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.tag-warpper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    .tag{
        padding: 0 8px;
        border-radius: var(--border-radius-15);
        font-size: var(--tag-fontSize);
        line-height: var(--tag-height);
        margin-bottom: 5px;
        &:not(.tag:nth-last-child(1)){
            border: var(--tag-border);
        }
    }
}
.item-name{
    width: 100%;
    text-align: center;
    padding: 2px 0;
    font-size: var(--link-fontSize-pc);
    @media (max-width: 500px) {
        &{
            font-size: var(--link-fontSize-mobile);
        }
    }
}
/* ======== */
.up-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border: var(--border1);
    border-radius: var(--border-radius-30);
    z-index: 100;
}
/* ========================== */
.dpnone{display: none;}
